
body{ /* Normal  */
  background-color:WhiteSmoke;
  font-size: 1.675em;
  }
  
.navbar {
  background-color: #005e8a;
}

p {
 font-weight: 400;
 color: #332;
 margin: .9em;
}

li {
 font-weight: 400;
 color: #332;
 margin: .9em;
 }


/* titles and headers
--------------------------------------------------------------
*/
.title {
  color: #005e8a;
  text-align: center;
  font-size: 1.675em;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: .8em;
  padding-top: .8em;
  margin: 1.6em 0 1em 0;
}

h1 { /* Header 1 */
  color: #005e8a;
  font-size: 1.675em;
  border-top: 2px solid #005e8a;
  border-bottom: 2px solid #005e8a;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left:1em;
  margin: 1.6em 0 1em 0;
}

h2 { /* Header 2 */
    color: #005e8a;
    font-style:italic;
    float:left;
    font-size: 1.5em;
    font-weight: 400;
    padding-left:1em;
    padding-bottom: 0em;
    margin: 0em 0 1em 0;
}

.collapsible_header h2 { /* Header 2 */
    color: #005e8a;
    font-style:italic;
    font-size: 1.5em;
    font-weight: 400;
    padding-left:1em;
    padding-bottom: 0em;
    margin: 0em 0 1em 0;
}

h3 { /* Header 3 */
    color: #005e8a;
    font-size: 1.4em;
    line-height: 1.4;
    font-weight: 700;
    padding-left:1em;
    padding-bottom: 0em;
    margin: 1.6em 0 1em 0;
}

h4 { /* Header 4 */
  color: #005e8a;
  font-size: 1.3em;
  line-height: 1.4;
  padding-bottom: 0em;
  padding-left:1em;
  font-weight: 700;
  margin: 1.6em 0 1em 0;
}

/* Structure of templates
--------------------------------------------------------------
*/

/* Refer to the full page of each section accessible via the navigation bar */
.chapter {
 background-color:White;
 border: 1px solid lightgrey;
 max-width: 100%;
  margin-left: 10;
  margin-right: auto;
}

/* div containing the context and introduction for each topi*/
.context{
 padding: 0.5em;
}

.introduction{
  font-weight: 400;
  color: #005e8a;
  padding: 0.5em;
  -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
  border: 1px solid grey;
  margin: 1.6em 0em 1.6em 0;
}

.context_diagram{
 /* display: flex; justify-content: center;*/
}

/* Div containing the definitions of the main concepts of the chapter*/
.definition_concepts{
 padding: 0.5em;
 }

/* Div containing the collapsible tab of definitions */

.definition_details{
 padding: 0.5em;
 }
 
 /* Div containing the definitions of the main indicators used in the chapter*/

 .indicators{
 border: 1px solid lightgrey;
 }
 
 .indicators p {
font-weight: 400;
 }
 /* Div containing the definitions of the main policy challenges of the chapter*/

 .definitions_challenges{
 padding: 0.5em;
 border: 1px solid lightgrey;
 }

/* Div containing the tables and figures of economic outcomes */

.economic_outcomes{
 padding: 0.5em;
 }


/* Div containing the  tables and figures of policy outcomes*/

.policy_outcomes{
 font-weight: 400;
  color: #005e8a;
  padding: 0.5em;
  -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
  border: 1px solid grey;
  margin: 1.6em 0em 1.6em 0;
 }
 
/* Div containing the main policy recommendations of the chapter */

.key_reco{
 /*padding: 0.5em;
  -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
 box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
  border: 1px solid grey;*/
 }
 
 /* Div containing descriptions table and figures for selected policies and countries */

.selected_policies{
 padding: 0.5em;
 }
 
.selected_policies span {
 font-style:bold;
 }
 
/* Div containing the main data sources */

 .data_sources{
 padding: 0.5em;
 }
 
 
 /* Div containing the main references */
 .references{
 padding: 0.5em;
 }


.more_details:hover {
  /*background-color:WhiteSmoke;*/
}

.btn {
  background-color: #005e8a; 
  color: white;
  display: inline-block;
  border-radius: 0.4em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.collapsible_header {
  overflow:hidden;
  border-bottom: 1px solid #005e8a;
  line-height: 1.4;
  font-weight: 400;
}

.collapsible_header .btn {
   float:right;
}



