
html, body {
width:100vw; /* take full browser width */
height:100vw; /* take full browser height*/
}

body{ /* Normal  */
  background-color:white;
  font-size: 1.675em;
  }


.main-container {
    max-width: 90vw !important;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
  background-color: #037bc1;
}

p {
 font-weight: 400;
 color: #332;
 margin: .9em;
}

li {
 font-weight: 400;
 color: #332;
 margin: .9em;
 }


/* titles and headers
--------------------------------------------------------------
*/
.title {
  color: #037bc1;
  text-align: center;
  font-size: 1.675em;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: .8em;
  padding-top: .8em;
  margin: 1.6em 0 1em 0;
}


h1 { /* Header 1 */
  color: #037bc1;
  font-size: 1.6em;
  text-align:center;
  /*border-top: 2px solid #037bc1;*/
  /*border-bottom: 2px solid #037bc1;*/
  /*line-height: 1.5;*/
  font-weight: 600;
  /*padding-bottom: 1em;*/
  /*padding-top: 1em;*/
  padding-left:1em;
  margin: 0.1em 0 1em 0;
}

h2 { /* Header 2 */
    color: #037bc1;
    font-style:italic;
    float:left;
    font-size: 1.5em;
    font-weight: 400;
    padding-left:1em;
    padding-bottom: 0em;
    margin: 0em 0 1em 0;
}

.collapsible_title { /* Header 2 */
    color: lightgrey;
    font-style:italic;
    font-size: 1.5em;
    font-weight: 400;
    padding-left:1em;
    padding-bottom: 0em;
    margin: 0em 0 1em 0;
}

.collapsible_title:hover { /* Header 2 */
    color: #037bc1;
}

.collapsible_subtitle { /* Header 2 */
    color: lightgrey;
    font-style:italic;
    font-size: 1.2em;
    font-weight: 400;
    padding-left:1em;
    padding-bottom: 0em;
    margin: 0em 0 1em 0;
}

.collapsible_subtitle:hover { /* Header 2 */
    color: #037bc1;
}

h3 { /* Header 3 */
    color: #037bc1;
    font-size: 1.4em;
    line-height: 1.4;
    font-weight: 700;
    padding-left:1em;
    padding-bottom: 0em;
    margin: 1.6em 0 1em 0;
}

h4 { /* Header 4 */
  color: #037bc1;
  font-size: 1.3em;
  line-height: 1.4;
  padding-bottom: 0em;
  padding-left:1em;
  font-weight: 700;
  margin: 1.6em 0 1em 0;
}

/* Structure of templates
--------------------------------------------------------------
*/

.container-fluid.main-container {
width:100vw; /* take full browser width */
height:100vw; /* take full browser height*/
}

/* Refer to the full page of each section accessible via the navigation bar */
.chapter {
 background-color:White;
 /*border: 1px solid lightgrey;*/
 max-width: 100vw;
  margin-left: 10;
  margin-right: auto;
}

#chapter_name{
  font-size:1.2em;
  color:grey;
}

/* div containing the context and introduction for each topi*/
.context{
 padding: 0.5em;
}

.introduction{
  font-weight: 400;
  color: #037bc1;
  padding: 0.5em;
  margin: 0.1em 0em 0.1em 0;
}

.context_diagram{
 /* display: flex; justify-content: center;*/
}

/* Div containing the definitions of the main concepts of the chapter*/
.definition_concepts{
 padding: 0.5em;
 }

/* Div containing the collapsible tab of definitions */

.definition_details{
 padding: 0.5em;
 }

 /* Div containing the definitions of the main indicators used in the chapter*/

 .indicators{
 border: 1px solid lightgrey;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 padding: 16px;
 text-align: center;
 }

.indicators:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

 .indicators p {
font-weight: 400;
 }
 /* Div containing the definitions of the main policy challenges of the chapter*/

 .definitions_challenges{
 padding: 0.5em;
 border: 1px solid lightgrey;
 }

/* Div containing the tables and figures of economic outcomes */

.economic_outcomes{
 padding: 0.5em;
 }


/* Div containing the  tables and figures of policy outcomes*/

.policy_outcomes{
 font-weight: 400;
  color: #037bc1;
  padding: 0.5em;
  margin: 1.6em 0em 1.6em 0;
 }

/* Div containing the main policy recommendations of the chapter */

.key_reco{
 /*padding: 0.5em;
  -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
 box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
  border: 1px solid grey;*/
 }

 /* Div containing descriptions table and figures for selected policies and countries */

.selected_policies{
 padding: 0.5em;
 }

.selected_policies span {

 font-style:bold;
 }

/* Div containing the country boxes*/

.country_exp{
 padding: 0.5em;
 background-color: rgb(173,216,230);
 border :0.5px black;
}

/* Div containing the main data sources */

 .data_sources{
 padding: 0.5em;
 }


 /* Div containing the main references */
 .references{
 padding: 0.5em;
 }


.more_details:hover {
  /*background-color:WhiteSmoke;*/
}

.btn {
  background-color: #037bc1;
  color: white;
  display: inline-block;
  border-radius: 0.4em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.collapsible_header {
  overflow:hidden;
  border-bottom: 1px solid #037bc1;
  line-height: 1.4;
  font-weight: 400;
}

.collapsible_header .btn {
   float:right;
}



.opentab {
  background-color: #037bc1;
  color: white;
  display: inline-block;
  border-radius: 0.4em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.opentab:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}




